@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  background-image: url('Turingwebpage1.jpg');
  background-size: cover, cover;
  font-family: 'Ubuntu', sans-serif;
  color: #494444;
}

.App {
  text-align: center;
}


.weatherCard {
  border: solid 2px #808080;
  margin: 5% auto;
  width: 50%;
}

.weatherCard h3,
.weatherCard p {
  margin-left: 3%;
}

.weatherCard img {
  width: 100px;
  height: 100px;
}

.hourly-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hourlyCard {
  border: solid 2px #808080;
}

.hourlyCard img {
  width: 10vw;
}

.tenDayCard {
  border: 1px solid #494444;
}

.tenDayContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

.highLow {
  display: inline;
  margin-right: 3%;
}

.forecast {
  visibility: hidden;
}

.search {
  text-align: center;
}

.search input,
.search button {
  padding: 1rem;
  font-size: .9rem;
}
