.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.weatherCard {
  border: solid 2px #808080;
  margin: 5% auto;
  width: 50%;
}

.weatherCard h3,
.weatherCard p {
  margin-left: 3%;
}

.weatherCard img {
  width: 100px;
  height: 100px;
}

.hourly-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hourlyCard {
  border: solid 2px #808080;
}

.hourlyCard img {
  width: 10vw;
}

.highLow {
  display: inline;
  margin-right: 3%;
}

